services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=sleweb.settings
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app


